
.topnav { 
    background-color: #f5f3f8;
    overflow: hidden;
}

.form-container {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color:#f5f3f8;
    /* text-align: center; */
}

.form-container form{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    display: inline-block;
}

.twitter-tweet {
    padding-top:10vh;
}

h3 { 
    padding-top: 10vh;
    text-align: center;
}

